body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #4834d4;
}

.cross-container {
    position: relative;
}

.cross-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
}

.about-me {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
}

.picture-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-left: 60px;
    cursor: pointer;
}

.photo-about {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 5px solid #ffffff;
}


.container-about-me {
    display: flex;
    flex-direction: column;
    margin: 0px 40px;
    color: #000000;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.container-about-me:hover {
    animation-name: headShake;
    animation-duration: 1s;
}

h4 {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 32px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 5px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 5px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 5px -8px rgba(0, 0, 0, 0.75);

}

p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

p span {
    font-weight: 900;
    /* text-decoration: underline; */
}


@-webkit-keyframes headShake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    6.5% {
        -webkit-transform: translateX(-6px) rotateY(-9deg);
        transform: translateX(-6px) rotateY(-9deg);
    }

    18.5% {
        -webkit-transform: translateX(5px) rotateY(7deg);
        transform: translateX(5px) rotateY(7deg);
    }

    31.5% {
        -webkit-transform: translateX(-3px) rotateY(-5deg);
        transform: translateX(-3px) rotateY(-5deg);
    }

    43.5% {
        -webkit-transform: translateX(2px) rotateY(3deg);
        transform: translateX(2px) rotateY(3deg);
    }

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes headShake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    6.5% {
        -webkit-transform: translateX(-6px) rotateY(-9deg);
        transform: translateX(-6px) rotateY(-9deg);
    }

    18.5% {
        -webkit-transform: translateX(5px) rotateY(7deg);
        transform: translateX(5px) rotateY(7deg);
    }

    31.5% {
        -webkit-transform: translateX(-3px) rotateY(-5deg);
        transform: translateX(-3px) rotateY(-5deg);
    }

    43.5% {
        -webkit-transform: translateX(2px) rotateY(3deg);
        transform: translateX(2px) rotateY(3deg);
    }

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.headShake {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: headShake;
    animation-name: headShake;
}

@media (min-width: 0) and (max-width: 767px) {
    .about-me {
        flex-direction: column;
    }

    h4 {
        font-size: 22px;
        line-height: 24px;
    }

    .container-about-me {
        margin: 0;
        width: 70%;
        padding: 30px;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 14px;
    }

    .picture-container {
        margin-left: 0;
        margin: 30px;
    }

    .photo-about {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h4 {
        font-size: 26px;
        line-height: 28px;
    }

    .container-about-me {
        padding: 30px;
        font-size: 14px;
        line-height: 18px;
    }

    .photo-about {
        width: 200px;
        height: 200px;
    }
}