body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #4834d4;
}

.cross-container {
    position: relative;
}

.cross-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
}

.about-me {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
}

.picture-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-left: 60px;
    cursor: pointer;
}

.photo-about {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 5px solid #ffffff;
}


.container-about-me {
    display: flex;
    flex-direction: column;
    margin: 0px 40px;
    color: #000000;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.container-about-me:hover {
    animation-name: pulse;
    animation-duration: 2s;
}

h4 {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 32px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 5px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 5px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 5px -8px rgba(0, 0, 0, 0.75);

}

p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

p span {
    font-weight: 900;
    /* text-decoration: underline; */
}


@-webkit-keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
@media (min-width: 0) and (max-width: 767px) {
    .about-me {
        flex-direction: column;
    }

    h4 {
        font-size: 22px;
        line-height: 24px;
    }

    .container-about-me {
        margin: 0;
        width: 70%;
        padding: 30px;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 14px;
    }

    .picture-container {
        margin-left: 0;
        margin: 30px;
    }

    .photo-about {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h4 {
        font-size: 26px;
        line-height: 28px;
    }

    .container-about-me {
        padding: 30px;
        font-size: 14px;
        line-height: 18px;
    }

    .photo-about {
        width: 200px;
        height: 200px;
    }
}