body {
    /* background-color: #38b6ff; */
    background-color: #4834d4;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.contact-container {
    position: relative;
    height: 100vh;
    display: flex;
}

.cross-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.cross-icon {
    width: 30px;
    height: 30px;
}

.contact-holder {
    margin: auto;
    padding: 40px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: 20px;
    cursor: pointer;
}

.contact-btn-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.fa-twitter-square {
    color: black;
}

button {
    padding: 10px;
    margin: 5px;
}

h4 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 32px;
}