body {
    /* background-color: #38b6ff; */
    background-color: #4834d4;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.experience-container {
    position: relative;
    height: 100vh;
    display: flex;
}

.cross-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.cross-icon {
    width: 30px;
    height: 30px;
}

.container-exp {
    margin: auto;
    padding: 40px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: 20px;
    cursor: pointer;
}

h4 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 32px;
}

.company-icon {
    height: 70px;
}

p {
    font-size: 16px;
    line-height: 20px;
}

span {
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
}

@media (min-width: 0) and (max-width: 767px) {
    .container-exp {
        padding: 20px;
    }
}