body {
  /* height: 100vh; */
  padding-top: 20px;
  padding-bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2876f9;
  background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
  overflow-x: hidden;
}

.homepage-intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background-image: url("../Images/backgroundhome.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  height: 400px;
  cursor: pointer;
}

.homepage-intro-container:hover {
  animation-name: bounce;
  animation-duration: 1s;
}

.intro-details {
  padding: 20px;
  background-color: #000000;
}

h1 {
  color: #ffffff;
  font-size: 40px;
  line-height: 38px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.role {
  color: #ffffff;
  font-size: 26px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.card {
  border-radius: 5px;
  border: 1px;
  height: 180px;
}

.card:hover {
  animation-name: pulse;
  animation-duration: 2s;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
}

.card-text {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

.footer-container {
  padding: 10px;
  color: #2876f9;
  background-color: #000000;
  text-align: center;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes bounce {

  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {

  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@media (min-width: 0) and (max-width: 767px) {
  .homepage-intro-container {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 24px;
    line-height: 26px;
  }

  .role {
    font-size: 18px;
    line-height: 22px;
  }

  .row {
    margin-bottom: 0;
  }

  .card {
    margin: 0 auto;
    margin-bottom: 30px;
    height: 100px;
  }

  .card-text {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .homepage-intro-container {
    width: 100%;
  }

  .card-text {
    font-size: 24px;
    line-height: 28px;
  }
}