body {
    height: 100vh;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}

.homepage-wrapper {
    height: 100vh;
    padding: 20px;
}

h1 {
    color: #38b6ff;
    font-size: 40px;
    line-height: 38px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.role {
    color: #ffffff;
    font-size: 26px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

a,
a:hover {
    text-decoration: none;
}

.card {
    border-radius: 5px;
    border: 1px;
}

.card-img-top {
    height: 180px;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    background-color: #38b6ff;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-text {
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
}

@media (min-width:0) and (max-width: 767px) {
    h1 {
        font-size: 30px;
        line-height: 32px;
    }

    .role {
        font-size: 18px;
        line-height: 22px;
    }

    .row {
        margin-bottom: 0;
    }

    .card {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 40%;
        min-width: 200px;
    }
}